@model IList<CategoryModel>
    @if (Model.Count > 0)
    {
    @*<div class="cate-title">
        <h2>Categorías</h2>
    </div>*@
    <div class="category-grid home-page-category-grid">
        <div class="item-grid owl-carousel" id="category-slider">
            @foreach (var item in Model)
            {
                <div class="category-item">
                    <div class="cus-picture">
                        <a href="@Url.RouteUrl("Category", new {SeName=item.SeName})" title="@item.PictureModel.Title">
                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                        </a>
                    </div>
                    <h2 class="title">
                        <a href="@Url.RouteUrl("Category", new {SeName=item.SeName})" title="@item.PictureModel.Title">
                            @item.Name
                        </a>
                    </h2>
                </div>
            }
        </div>
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#category-slider').owlCarousel({
                margin: 15,
                loop: false,
                autoWidth: true,
                items: 10,
                dots: false,
                nav: false
            })
        });
    </script>
    }
