@model Nop.Web.Models.Catalog.SearchModel
@inject Nop.Core.IStoreContext storeContext
@*<div style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; justify-content: space-around; display: flex; padding: 2vh 0 2vh 0; margin-bottom: 5vh">
        <a style="background-color: #4ab2f1; color: white;border-radius: 15px;padding: 2vh 3vw; margin: 0 2vw" href="/newproducts">Haz click aqui para nuevos productos</a>
        <a style="background-color: #4ab2f1; color: white; border-radius: 15px; padding: 2vh 3vw; margin: 0 2vw " href="/curiosities">Haz click y descubre curiosidades neta</a>
    </div>

    @if (Model.CatalogProductsModel.Products.Count > 0)
    {
        var store = storeContext.GetCurrentStore();
        ViewBag.RoyaltyMessage = null;
        if (ViewBag.RoyaltyMessage != null)
        {
            if (store.Id == 49)
            {
                ViewBag.RoyaltyMessage = "2.5%";
            }
            else
            {
                ViewBag.RoyaltyMessage = "5%";
            }
            <div class="product-grid home-page-product-grid">
                <div class="title">
                    <strong>@ViewBag.RoyaltyMessage de descuento parejo para nuestros clientes los más neta!</strong>
                </div>
                <div class="item-grid">
                    <h1>Sabías que … todos nuestros clientes que acumulan $300 pesos o mas de compras a la semana se ganan un @ViewBag.RoyaltyMessage de descuento adicional en su compra diaria? Se nuestro cliente más neta y gánate este descuento especial!</h1>
                </div>
            </div>
        }
        else
        {
            if (Model.CatalogProductsModel.Products.Where(v => v.MarkAsLoyalty).Any())
            {
                <div class="product-grid home-page-product-grid">
                    <div class="title">
                        <strong>Super promoción del día para nuestros clientes los más neta!</strong>
                    </div>
                    <h2>Acumula $300 pesos o mas de compras en la semana y entra a la super promo diaria! No te quedes sin este beneficio</h2>
                    <h2>El electrolit coco suero está a $8 con tu código!</h2>
                    <div class="item-grid">
                        @foreach (var item in Model.CatalogProductsModel.Products.Where(v => v.MarkAsLoyalty))
                        {
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }*@

<div>
    @await Component.InvokeAsync("SearchBoxV2")
</div>
<div class="product-grid home-page-product-grid">
    <div class="title">
        <strong>Solo se puede pedir 5 unidad por cliente al día</strong>
    </div>
</div>
@if (Model.CatalogProductsModel.Promos.Count > 0)
{
    <div class="product-grid home-page-product-grid" style="margin: 0px">
        <div style="text-align: left; margin-bottom: 15px">
            <p style="margin: 0px; font: bold 18px Roboto; line-height: 25.2px;color: #212121"> @T("Homepage.Products")</p>
        </div>
        <div id="Descuentos-Dia" class="item-grid">
            @foreach (var item in Model.CatalogProductsModel.Promos.OrderBy(v => v.DisplayOrder))
            {
                <div class="item-box" style="margin-left: 0px; margin-right: 0px;">
                    @await Html.PartialAsync("_ProductBoxHomePage", item)
                </div>
            }
        </div>
    </div>
}

@if (Model.CatalogProductsModel.Products.Count > 0)
{
    <div class="product-grid home-page-product-grid" style="margin: 0px">
        <div style="text-align: left;margin-bottom:15px">
            <p style="margin: 0px;font: bold 18px Roboto; line-height: 25.2px;color: #212121">  Nuestra oferta de precios bajos! </p>
        </div>
        @*Hide Order By and page size
            @await Html.PartialAsync("_CatalogSelectors", Model.CatalogProductsModel)
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageBeforeResults })*@
        <div id="Oferta-Precios-Bajos" class="search-results" style="margin: 0px">
            @{
                var catalogProductsViewData = new ViewDataDictionary(ViewData);
                catalogProductsViewData["fetchUrl"] = Html.Raw(Url.Action("SearchProducts", "Catalog"));
                var a = catalogProductsViewData;
            }
            @await Html.PartialAsync("_CatalogProductsHome", Model.CatalogProductsModel, catalogProductsViewData)
        </div>
    </div>
}

<script>
    scroller();
    window.addEventListener('load', function () {
        window.addEventListener("orientationchange", orientationChange);
    });

    var cantxfilas = 3;

    function homePageActions(cantxfilas) {
        scroller();
        var clientWidth = document.getElementsByClassName("master-column-wrapper")[0].clientWidth - 1;
        cantxfilas = maxPerRow(clientWidth);

        var hay_productos_descuentos =(@Model.CatalogProductsModel.Promos.Count > 0);
        var hay_productos_ofertas = (@Model.CatalogProductsModel.Products.Count > 0);

        if (hay_productos_descuentos) {
            decuentos_width = productsInColumns("Descuentos-Dia", cantxfilas);
            productTitleSizer("Descuentos-Dia");
        }
        if (hay_productos_ofertas) {
            oferta_width = productsInColumns("Oferta-Precios-Bajos", cantxfilas);
            productTitleSizer("Oferta-Precios-Bajos");
        }
    }

    function orientationChange() {
        var afterOrientationChange = function () {
            var clientWidth = document.getElementsByClassName("master-column-wrapper")[0].clientWidth - 1;
            var cantxfila_orientacion;
            var orientacion = event.target.screen.orientation.angle;
            if (orientacion == 0) {
                cantxfila_orientacion = cantxfilas;
            }
            else {
                cantxfila_orientacion = maxPerRow(clientWidth);
            }
            homePageActions(cantxfila_orientacion);
            basicResize();
            window.removeEventListener('resize', afterOrientationChange);
        };
        window.addEventListener('resize', afterOrientationChange);
    }

    function scroller() {
        try {
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var current = urlParams.get('pagesize');
            var newWidth = document.querySelector(".master-wrapper-content").scrollWidth;
            var heightP = document.querySelector('.item-box').scrollHeight;
            var widthP = document.querySelector('.item-box').scrollWidth;
            var cantidadProductosFila = Math.floor((newWidth / widthP));
            var increment = 0;
            var end_sum= 1;
            if (current == 0 || current==null) {
                increment = 0;
                current =@Model.CatalogProductsModel.StartingProducts;
                end_sum = 0;
            }
            else {
                increment =@Model.CatalogProductsModel.Increment;
                current =@Model.CatalogProductsModel.Products.ToList().Count();
                end_sum = 1;
            }

            var product_Count_before = current - (increment);
            var filas_anteriores = Math.ceil((product_Count_before / cantidadProductosFila));
            var filas_actuales = Math.ceil((current / cantidadProductosFila));
            var filas_a_restar = filas_actuales - filas_anteriores - end_sum;
            var fila_final = (filas_actuales - filas_a_restar)*end_sum;
            window.scrollTo(0, heightP * fila_final);
        }
        catch (e) {

        }
    }

    function productsInColumns(id, cantxfila) {
        var clientWidth = document.getElementsByClassName("master-column-wrapper")[0].clientWidth - 1;
        var err_percent = 5;
        porcentaje_ancho = ((100 - err_percent) / cantxfila) / 100;
        var ancho = (clientWidth * porcentaje_ancho);
        var espacio_libre = clientWidth - ancho * cantxfila;
        margen_izquierda = espacio_libre / (cantxfila - 1);
        x = document.getElementById(id).getElementsByClassName("item-box");
        for (var i = 0; i < x.length; i++) {
            x[i].style.width = ancho.toString() + "px";
            x[i].style.marginBottom = "40px";
            x[i].style.marginLeft = "0px";
            if (i % cantxfila != 0) {
                x[i].style.marginLeft = margen_izquierda.toString() + "px";
            }

        }
        return x[0].style.width;
    }

    function productTitleSizer(id) {
        var x = document.getElementById(id).getElementsByClassName("new-product-title");
        var y = document.getElementById(id).getElementsByClassName("price-Qs");
        var max = 0;
        var maxy = 0;
        var promedio = 0;
        var promedioy = 0;
        for (var i = 0; i < x.length; i++) {
            if (x[i].clientHeight > max) {
                max = x[i].clientHeight;
            }
            if (y[i].clientHeight > maxy) {
                maxy = y[i].clientHeight;
            }
            promedio  = promedio  + x[i].clientHeight;
            promedioy = promedioy + y[i].clientHeight;
        }

        promedio  = promedio  / x.length;
        promedioy = promedioy / y.length;

        for (var i = 0; i < x.length; i++) {
            x[i].style.height = max.toString() + "px";
            y[i].style.height = maxy.toString() + "px";
        }
    }

    function maxPerRow(clientWidth) {
        if (clientWidth < 979) {
            if (clientWidth < 722) {
                return 2;
            }
            else {
                return 3;
            }
        }
        else {
            return 4;
        }
    }
</script>